* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #090b0b;
    color: #FFF;
    font-family:Poppins,sans-serif
    /*font-family:Roboto,sans-serif*/
}
header {
    padding: 0px 80px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 87px;
    height: 18px;
}
header ul, li {
    display: flex;
    padding-left: 50px;
}
header ul li a {
    text-decoration: none;
    color: #FFF;
    align-items: center;
    border-bottom: 2px solid transparent;
}
header ul li a:hover {
    border-bottom: 2px solid aqua;
}
.block-content {
    display: flex;
    padding: 120px 80px;
    justify-content: center;
    align-items: center;
}
.block-content article {
    flex: 1;
}
.block-content article h1 {
    font-size: 50px;
    font-weight: 600;
}
.block-content article h1 span {
    color: aqua;
}
.block-container {
    padding: 0px 80px;
}
.block-container-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.block-container-head li{
    display: inline;
    font-size: medium;
    font-weight: 100;
    padding: 0px 5px 0px 0px;
}
.block-container-head ul li a{
    text-decoration: none;
    color: #FFF;
}
.block-container-head ul li:last-child:after {
    content: none;
}
.block-container-head ul li::after {
    content: " /";
    padding-left: 5px;
}
.block-container-head h1 {
    font-weight: 500;
}
.block-container-head .selected a {
    color: aqua;
}
.block-container-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block-container-content img {
    width: 350px;
}
.block-container-content article {
    margin-bottom: 50px;
}
.block-container-content h2 {
    font-size: small;
    font-weight: 100;
}
.block-container-content h1 {
    font-weight: 500;
}